<footer class="footer">
    <div class="footer-content">
        <div class="logo-section">
            <img src="/images/logo.png" alt="Logo">
            <h3>Muhammed Uslu</h3>
            <p>HUKUK & DANIŞMANLIK </p>
        </div>
        <div class="contact-info">
            <h3>İLETİŞİM BİLGİLERİMİZ</h3>
            <p>Fabrika Mah. Özmenler Liva Plaza B Blok No:14 Yenişehir/Diyarbakır</p>
            <p><i class="fas fa-phone"></i> +90 546 766 80 54</p>
            <p><i class="fas fa-envelope"></i> av.uslumuhammed@gmail.com</p>
        </div>
        <div class="useful-links">
            <h3>FAYDALI BAĞLANTILAR</h3>
            <ul>
                <li><a href="https://www.adalet.gov.tr/"><img src="/images/logolink.png" alt="Link Icon" class="link-icon"> Adalet Bakanlığı</a></li>
                <li><a href="https://www.yargitay.gov.tr/"><img src="/images/logolink.png" alt="Link Icon" class="link-icon"> Yargıtay</a></li>
                <li><a href="https://www.danistay.gov.tr/"><img src="/images/logolink.png" alt="Link Icon" class="link-icon"> Danıştay</a></li>
                <li><a href="https://www.sayistay.gov.tr/"><img src="/images/logolink.png" alt="Link Icon" class="link-icon"> Sayıştay</a></li>
                <li><a href="https://www.anayasa.gov.tr/tr/anasayfa/"><img src="/images/logolink.png" alt="Link Icon" class="link-icon"> Anayasa Mahkemesi</a></li>
            </ul>
        </div>
    </div>
</footer>
