<section class="services">
    <h2>Çalışma Alanlarımız</h2>
    <div class="service-grid">
        <div class="service-card">
            <img src="/images/1.png" alt="Ceza Hukuku">
            <div class="service-card-content">
                <h3>Ceza Hukuku</h3>
                <a href="\services\criminal-law" class="btn">Detaylı Bilgi</a>
            </div>
        </div>
        <div class="service-card">
            <img src="/images/2.png" alt="Şirketler ve Ticaret Hukuku">
            <div class="service-card-content">
                <h3>Şirketler ve Ticaret Hukuku</h3>
                <a href="/services/commercial-law" class="btn">Detaylı Bilgi</a>
            </div>
        </div>
        <div class="service-card">
            <img src="/images/3.png" alt="Aile ve Miras Hukuku">
            <div class="service-card-content">
                <h3>Aile ve Miras Hukuku</h3>
                <a href="/services/family-law" class="btn">Detaylı Bilgi</a>
            </div>
        </div>
        <div class="service-card">
            <img src="/images/4.png" alt="İcra ve İflas Hukuku">
            <div class="service-card-content">
                <h3>İcra ve İflas Hukuku</h3>
                <a href="/services/enforcement-law" class="btn">Detaylı Bilgi</a>
            </div>
        </div>
        <div class="service-card">
            <img src="/images/5.png" alt="İdare ve Vergi Hukuku">
            <div class="service-card-content">
                <h3>İdare ve Vergi Hukuku</h3>
                <a href="/services/insurance-law" class="btn">Detaylı Bilgi</a>
            </div>
        </div>
        <div class="service-card">
            <img src="/images/6.png" alt="Sigorta Hukuku">
            <div class="service-card-content">
                <h3>Sigorta Hukuku</h3>
                <a href="/services/tax-law" class="btn">Detaylı Bilgi</a>
            </div>
        </div>
        <div class="service-card">
            <img src="/images/kisisel.png" alt="Sigorta Hukuku">
            <div class="service-card-content">
                <h3>Kişisel Verilerin Korunması Hukuku</h3>
                <a href="/services/kisisel" class="btn">Detaylı Bilgi</a>
            </div>
        </div>
        <div class="service-card">
            <img src="/images/is.png" alt="Sigorta Hukuku">
            <div class="service-card-content">
                <h3>İş ve Sosyal Güvenlik Hukuku</h3>
                <a href="/services/is-sosyal" class="btn">Detaylı Bilgi</a>
            </div>
        </div>
        <div class="service-card">
            <img src="/images/ana.png" alt="Sigorta Hukuku">
            <div class="service-card-content">
                <h3>Anayasa Mahkemesi Bireysel Başvuru</h3>
                <a href="/services/anayasa" class="btn">Detaylı Bilgi</a>
            </div>
        </div>
        
    </div>
</section>
