
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/contactForm.css">
    <link rel="stylesheet" href="/css/footer.css">
   
  
   
</head>
<body>

    <%- include('../partials/header', { title: 'Hakkımızda', additionalCss: 'about.css',}) %>

    <section class="about">
        <div class="container">
            <div class="about-content">
                <h2>Uslu Hukuk & Danışmanlık</h2>
                <h3>Av. Muhammed Uslu Kimdir?</h3>
                <img src="/images/muhammed-uslu.jpg" alt="Av. Muhammed Uslu">
                <p>2021 Akdeniz Üniversitesi Hukuk Fakültesnden mezu olmuştur ayrıca Erciyes Üniversitesinde de yüksek lisansını
                    tamamlamıştır. Diyarbakır Barosu'na kayıtlı, Uzman bir avukattır.</p>
                <p>Uslu Hukuk ve Danışmanlık firması bünyesinde çalışan meslektaşlarla ispanyolca , ingilizce ve franszca hizmet vermektedir. ulusal ve uluslararası çapta hizmet vermektedir.</p>
                <p>Av. Muhammed Uslu, iyi derece İngilizce, orta derece Almanca bilmektedir.</p>
                <p>Uslu Hukuk ve Danışmanlık Büromuz yerli ve yabancı müvekkillerine hizmet vermektedir. Avukatlık hizmetinin bir kamu hizmeti olduğu bilinciyle her türlü hukuki mesele ve anlaşmazlıkların adalet ve hakkaniyete uygun olarak çözülmemesi ve hukuk kurallarının tam olarak uygulanması amacıyla hukuki bilgi ve tecrübelerimizi adaletin tesisine ve kişi/kurumların yararlanmasına tahsis etmekteyiz. Yüklendiğimiz görevleri bu görevin ruhuna yakışır bir şekilde özen, doğruluk ve onur içinde yerine getirmek ve avukatlık unvanının gerektirdiği saygı ve güvene uygun biçimde davranmak ve görevlerimizi ifa ederken meslek kurallarına uymak temel ilkelerimizdir.</p>
            </div>
        </div>
    </section>
    
    <%- include('../partials/footer') %>
</body>
</html>
