<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hizmetlerimiz</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/services.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
    <%- include('../partials/header', { title: 'Hizmetlerimiz', additionalCss: 'services.css' }) %>
    <%- include('../partials/services') %>
    <%- include('../partials/footer') %>
</body>
</html>
