<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceza Hukuku</title>
    
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('../partials/header') %>

    <div class="service-detail">
        <h1>Şirketler ve Ticaret Hukuku</h1>
        <p>Ticaret Hukuku, bir ticari işletmenin yaptığı ve yapacağı işlerden doğan yaptırımların belirlenmesi ve sorumluluk kapsamına girebilmesini temel hatlarıyla ortaya koyan anayasal düzenlemelerdir. Dar anlamda borçlar hukukundan ayrılmış olup, geniş anlamda bir bütün çerçevesinde değerlendirilebilir. Bu nedenle, ticari işletme niteliği taşıyan işletmeye sahip olan herkesi ilgilendirir.
<br>
<br>

            <h4>Kimleri İlgilendirir?</h4>
            
            Bu kapsamda ticari işletme sahibi olan herkes için en iyi şekilde hizmet veriyoruz. Ticari işletmenin tüzel veya gerçek kişi olması fark etmeksizin hizmetimizi sunuyoruz. En iyi ve en güvenilir hizmete bizim aracılığımızla sahip olarak, doğru ve en kesin bilgiye zaman tasarrufu yaparak ulaşabilirsiniz. Ticari işletme sahibi ya da tacir sıfatı olan herkes konu dahilinde bilgi sahibi olabilir bu anlamda detaylı ve güvenilir sistemle en iyi şekilde konu hakkında emsalleri de öğrenebilirsiniz.
            <br>
            <br>
           <h4>Borçlar Hukukundan Nasıl Ayrılır?</h4> 
            
            Ticaret Hukuku, Türk ticaret kanunu uyarınca; ticari iş niteliği taşıyan işleri ve konuları ayni zamanda tacir olarak görev yapan ticari işletme sahiplerini kapsar. Borçlar hukuku ile belirli çerçevede birbirlerine bağlıdır. Ancak, sadece ticari faaliyetlere bakılması dolayısıyla farklı kanunlardan yararlanılır. Ayrı bir hukuk dalı olarak en iyi şekilde değerlendirilmesinde sizlere yardımcı oluyoruz.
            <br>
            <br>
            <h4>Güvenilir Hizmet</h4>
            
            Karar verilecek olan dava sürecinin işçi ya da işveren tarafından en iyi şekilde sonuçlanmasına olanak sağlıyoruz. Verdiğimiz hizmet ile en güvenilir bilgiye kısa zamanda tüm detaylarıyla ulaşmanız mümkün. Kalite ve güvenlik ölçütlerini ayni anda kullanarak standartlarınızın üstüne çıkmanıza yardımcı oluyoruz. Sinir çizmeden her zaman en iyi şekilde karlı olarak işin içinden çıkmanızda önemli rol oynuyoruz. Hizmet gereğince tüm bilgileriniz bizler tarafından üçüncü kişilere karşı gizli tutulmaktadır. Bu nedenle de rakiplerimizden sıyrılarak anayasa ve hükümlerini en iyi şartlarda değerlendirip uzun vadeli sonuçlarla kalitemizi ve farkımızı belli ediyoruz.
            <br>
            <br>
            <h4>Kaliteli Yaklaşım ve Gizlilik</h4>
            
            Tarafların mahkemeden önce bilgi akışı sağlaması yasaktır. Bizler için de güveninizi kazanmak oldukça önemlidir. Bu nedenle de kişi ve yapılan iş fark etmeksizin her alanda kalitemizi sağlayarak yaklaşımlarımızı sabitliyoruz. Halinizden anlıyor ve en iyi yol haritasını birlikte hazırlıyoruz. Geniş hukuki bilgimize güveniyor ve yaklaşımlarımızda da sizler için en iyisi olması için çabalıyoruz. Güven, herkes için önemlidir. Bu alanda tüm yapılanlar yasal gizlilik ve kişisel verileri paylaşmama kararınca yapılmakta olup, her zaman en iyi hizmeti sağlıyoruz. Kalite ve güven kaynağınız bizim için önemli olup hizmetimiz süreklidir.
            <br>
            <br>
            <h4>Şirketler Hukuku</h4>
            
            Şirketler Hukuku, ticari faaliyetlerin gerçekleştirilmesi amacıyla kurulmuş şirketlerle alakalı bütün düzenlemeleri kapsayan alandır. Ticaretin önemli yapıları olan şirketler ile alakalı düzenlemelerin yapılması adına gerekli olan bu hukuk dalında çok kapsamlı kurallar vardır. Türk Hukuk Sistemi’nin en geniş alanlarından bir tanesi olan Şirketler Hukuku’nda avukat desteği alarak bütün uyuşmazlıkları çözebilirsiniz.
            
            Şirketler konusunda dava süreçleri başta olmak üzere şirket kuruluşu, ana sözleşme hazırlığı, şirket feshi ve yönetim süreçlerinde hukuki destek olmak üzere pek çok alanda çözüm üretiyoruz. Hukuk Büromuz bu alanda sizlere profesyonel destek sağlarken Ticaret Hukuku’nun bir alt dalı olan Şirketler Hukuku’nda tecrübeyi de önemseyerek sizlere destek olur.
            
            <h4>Şirketler Hukuku Alanına Giren Davalar</h4>
            
            Türkiye’de hukuk sisteminin çok kapsamlı olması vatandaşların hangi hukuki alanda destek alacaklarını karıştırmalarına yol açar. Bu noktada siz de bir vatandaş olarak hukuki destek arayışındaysanız aşağıdaki konularda Şirketler Hukuku avukatı ile görüşmelisiniz.
            
            <ul>
                <li>Şirket ortaklığında çıkma/çıkarılma davası</li>
                <li>Şirket denetçilerine yönelik tazminat davası</li>
                <li>Şirket müdür ve yönetim kuruluna yönelik tazminat davaları</li>
                <li>Şirket müdürlüğünden azil davası</li>
                <li>Tasfiye memurlarına yönelik tazminat davası</li>
                <li>Tasfiye memurlarınca açılacak davalar</li>
                <li>Genel kurul kararının iptali davası</li>
                <li>Şirket feshi davası</li>
                <li>Şirket iflası davası</li>
            </ul>
            
            Tüm bu davalar Şirketler Hukuku alanına girerken dava süreçlerinde avukat desteği almak hayli önemlidir. Aksi takdirde hak düşürücü süreler ya da koşullar nedeniyle kişilerin hukuki haklarını kullanamamaları söz konusu olur.</p>
        <!-- Diğer içerikler -->
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
