<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceza Hukuku</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('../partials/header') %>

    <div class="service-detail">
        <h1>Ceza Hukuku</h1>
        <p>
            Ceza hukuku, bir suçun cezalandırılması ve toplumsal adaletin sağlanması adına geliştirilmiş kurallar bütünü olarak kabul edilmektedir. Toplumsal düzenin sağlanması ve hiçbir suçun karşılıksız kalmayacağı düşüncesi ile düzenlenen kuralları içeren Ceza Hukuku; yaptırımların alt ve üst sınırlarını belirleyen alandır.

Toplu yaşamanın bir sonucu olarak insanlar arasında anlaşmazlıklar ve sorunlar çıkması doğaldır. Ancak bu sorunların medeni bir çerçevede çözümlenmesi adına caydırıcı kurallar getirilmesi ve olası ihlallerin karşılık bulması hedeflenir. Ceza Hukuku da söz konusu ihlallerin karşılık bulması adına devreye girer. Hukuk büromuz; insana ya da diğer canlılara yönelik cürmün yaptırımla karşılaşması halinde devreye girer.

Şüpheli-sanık ya da mağdur-müşteki rolündeki müvekkilin haklarını koruyarak adil bir kararın alınması hedeflenir. Müvekkil suçlu olsa dahi amaç adil kararın alınması olduğundan taraf ayırt etmeksizin Ceza Avukatı rolünü yerine getiriyoruz. Adil kararlar alınmasını sağlarken hızlı bir dava sürecine de zemin hazırlıyoruz.

        </p>
        <h4>Ceza Hukuku Hangi Davaları Kapsar?</h4>
        <p>Avukat desteği almak isteyen pek çok bireyin Ceza Avukatı mı yoksa diğer davalara bakan avukatlardan mı destek alacağı konusunda soru işaretleri ile karşı karşıya kaldığı bilinmektedir. Bu çerçevede aşağıdaki suçlardan biri ya da birden fazlası söz konusuysa Ceza Hukuku’nun alanına giren davalardan söz etmek gerekir.</p>
        <ul>
            <li>Öldürme</li>
            <li>Yaralama</li>   
            <li>Yağma</li>    
            <li>Zimmet Suçu</li>    
            <li> Rüşvet</li>   
             <li>Evrakta Sahtecilik</li>    
            <li>İrtikap</li> 
            <li> Terör Suçları</li>   
        </ul>
        <p>Yukarıda sayılan suç ve bu suç kapsamına giren bütün eylemlerde bir Ceza Avukatı desteği almanız gerekmektedir. Avukat, hakkınızın tam anlamıyla korunmasını sağlarken suçsuzluğun ispatı için de sizlere destek olur. Bu çerçevede Ceza Davası olarak kabul edilen davalarda mutlaka bir avukat desteğinden fayda sağlamanız gerekir.</p>
        <!-- Diğer içerikler -->
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
