<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceza Hukuku</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('../partials/header') %>

    <div class="service-detail">
        <h1>Aile ve Miras Hukuku</h1>
       <p>Aile arasında birçok nedenle anlaşmazlıklar yaşanabilir. Ayrıca anlaşmazlıkların önüne geçilmek adına bazı tedbirlere ihtiyaç duyulabilir. Aile ile alakalı tüm konular, Aile Hukuku kapsamında ele alınan konulardır. Aile Hukuku, nişanlılık, evlilik, boşanma, aile konutu, mal rejimleri, velayet ve nafaka gibi konularla ilgilenmektedir. Aile Hukuku kapsamındaki davalar, Aile Mahkemelerinde görülür. Medeni Kanun ile uluslararası sözleşmeler ve Hukuk Muhakemeleri kanunu çerçevesinde hizmet veren mahkemeler, özel hayatın gizliliğini korumaya büyük hassasiyet gösterir. Türk Medeni Kanunu ve uluslararası sözleşmeler, daha ziyade evlilik içerisinde kadını ve çocuğu koruma amacı taşımaktadır. Her hukuk branşı gibi, Aile Hukuku alanında uzmanlaşmış avukatlar da müvekkilleri adına prosedürleri çözerek, davanın kısa sürede tamamlanmasını sağlamaktadır.</p>

       <h4>Aile Hukuku Neleri Kapsamaktadır?</h4>
       <p>Medeni Hukukun kapsamı içerisinde bulunan, Aile Hukuku, aile ile alakalı sorunlarla ilgilenmektedir. Nişanlılık, evlilik ve boşanma, Aile Hukukun konularıdır. Bunların yanı sıra, velayet ve vesayet, çocuklar için nafaka hakkı yine Aile Mahkemelerinde görülen dava konularıdır. Evlilikten önce eşler arasında yapılacak olan, evlilik hüküm ve şartları ile boşanma şart ve hükümleri de Aile Hukuku kapsamındadır.

        Miras, genellikle problem olan hukuk konularının başında gelmektedir. Ölen veya kayıp olan bir kişinin geride kalan mal varlığının paylaşımını düzenleyen hukuka ise miras hukuku denmektedir. Miras hukuku ülkemizde medeni kanunun içerisinde yer almaktadır. Özellikle büyük bir mal varlığının kalması durumunda, paylaşımlar genellikle daha problemli gerçekleşmekte ve mahkemelere intikal etmektedir.</p>

        <h4>Miras Hukukunu İlgilendiren Davalar Nelerdir?</h4>
        <p>Miras hukuku içinde değişik dava çeşitleri mevcuttur ve bu davaların tümünde deneyimli ve profesyonel hizmet vermekteyiz. Miras hukukunun kapsamında bulunan dava çeşitleri şu şekilde sıralanmaktadır:</p>
        <ol>
            <li>Veraset ilamı</li>
            <li>Terekenin tespit davası</li>   
            <li>Ortaklığın giderilmesi davası</li>    
            <li>Tasarrufun iptali davası</li>    
            <li> Tenkis davası</li>   
            <li>Denkleştirme davası</li>    
            <li>Mirastan mal kaçırılması ile ilgili davalar</li> 
            <li>Muris muvazaası davaları</li>
            <li>Çekişmesiz yargı işlemleri sonucu oluşan miras davaları</li>
            <li> Miras nedeni ile istihkak davası</li>   
        </ol>
        <!-- Diğer içerikler -->
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
