<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceza Hukuku</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('../partials/header') %>

    <div class="service-detail">
        <h1>İdare ve Vergi Hukuku</h1>
        <p>İdare hukukunun amacı devletin yaptığı idari işlemleri denetleyerek, vatandaşları devletin hukuka ve kanuna aykırı idari işlemlerine karşı korumaktır.  İdare hukuku avukatı olarak devletin idari işlemleri neticesinde bu işlemlerin iptali ve idari işlemlerden zarar görmeniz durumunda zararınızın devlet tarafından tazmini için profesyonel avukatlık hizmeti sunmaktayız.
            Bu alandaki hizmetlerimiz;
            <ul>
                <li>Belediyelerin çizdiği imar planları neticesinde arsa ve arazilerinize hukuka aykırı olarak müdahale edilmesi durumunda imar planının iptali için ilgili belediyeye veya kuruma itirazda bulunmak ve mahkemede iptal davası açılması</li>
                <li>Devletin kamulaştırdığı arazinizin kamulaştırma bedelindeki uyuşmazlıklarda bedel tespiti için mahkemede dava açılması</li>
                <li>Devletin idari işlemi neticesinde gördüğünüz her türlü zararınızın tazmini için devlet aleyhine tam yargı davası açılması</li>
                <li>İdari para cezalarına karşı ilgili devlet kurumu aleyhine iptal davası açılması</li>
                <li>Hukuka aykırı idari işlemin uygulanması halinde telafisi imkânsız zararlarınızın doğacak olması halinde vakit kaybetmeden ilgili idari işlemin yürütmesinin durdurulmasının istenmesi</li>
                <li>Haksız ve fahiş olarak tahakkuk ettirilen vergilere karşı mahkemelerde iptal davası açılması</li>
            </ul>
            
            </p>
        <!-- Diğer içerikler -->
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
