<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iş ve sosyal güvenlik hukuku</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('../partials/header') %>

    <div class="service-detail">
        <h1>İş ve Sosyal Güvenlik Hukuku</h1>
        <p>
           <h4> İş Hukuku Nedir?</h4>

            İş hukuku; işveren, işçi ve iş ile ilgili olan tüm konuları kapsayan ve işveren ile işçinin arasında oluşabilecek çeşitli problemlerin kanuna uygun bir şekilde düzenlenmesini sağlayan hukuk alanlarından bir tanesidir. Bunun yanı sıra iş hukukunun iş kanununda ki tüm olayları da ele alabileceğini ifade edebilmemiz mümkündür. İş hukuku ve iş kanunu mevzuatının en temel amacı içeren ve çalışanların oluşabilecek her türlü mağduriyetlerinden en az hasar ile çıkmalarını sağlamak ve bu mağduriyetlerin oluşmasını engellemek şeklindedir.
            
            <h4>İş Hukuku Önemi</h4>
            
            Çalışma hayatının en önemli parçalarından bir tanesi olan iş hukuku en adil ve en doğru çözümleri kişilere sunmaktadır. Bu doğrultuda iş hukukunun işçi ve işveren arasında ki problemleri konu alan, SGK ve işçi bulma kurumları ile olan ilişkilerin düzenlenmesini sağlayan bir hukuk türü olduğunu ifade edebiliriz. İş kanunu mevzuatı kapsamında karşılaştığımız iş hukuku ile ilgili en önemli kavramlardan bir tanesi de iş hukuku avukatıdır. Peki, iş hukuku avukatı ne iş yapar?
            
            İş hukuku isminden de anlaşılabileceği üzere iş hukuku ile ilgili tüm hizmetleri sunan bir avukat olduğunu ifade edebiliriz. İş hukuku avukatının en temel ve en önemli görevi iş hukuku ile ilgili tüm hizmetleri iş hukukuna uygun bir şekilde sunmak ve müvekkillerinin çıkarlarını gözeterek dava ile ilgili süreçleri en iyi şekilde yürütmektir. Bu nedenle iş hukuku avukatının görev ve sorumluluklarının iş hukuku kapsamında olduğunu söyleyebiliriz.
            
            <h4>İş Hukuku Kapsamı</h4>
            
            İş hukuku kapsamında sizlere aşağıdaki hizmetleri sunmaktadır.
            <ul>
                <li>İşverenin, çalışana gerekli yasal haklarını (yıllık izin, haftalık izin, tazminat vs.) sunmaması durumunda</li>
                <li>İşverenin, çalışanı haksız nedenler ile işten çıkartmak istemesi gibi durumlarda</li>
                <li>İşverenin, işçiyi sigortasız bir şekilde çalıştırmak istemesi durumunda</li>
                <li>İşverenin işçileri yasal çalışma süresinden çok daha fazla süre ile işçi çalıştırmak istemesi durumunda</li>
                <li>Çalışanın işvereni ya da işverenin çalışanı maddi olarak mağdur etmesi durumunda</li>
                <li>Çalışan ile işveren arasında çeşitli problemlerin ve uyuşmazlıkların meydana gelmesi durumunda</li>
                <li>Sendikal faaliyetler ile ilgili çeşitli problemlerin meydana gelmesi durumunda çeşitli hizmetler sunuyoruz</li>
            </ul>
            
            
            </p>
        <!-- Diğer içerikler -->
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
