<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Verilerin Korunması Hukuku</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('../partials/header') %>

    <div class="service-detail">
        <h1>Kişisel Verilerin Korunması Hukuku</h1>
        <p>KVKK, 07.04.2016 yılında yürürlüğe giren 6698 Sayılı Kişisel Verilerin Korunması Kanunu’ dur. Kanunu kapsamında veri sorumlularına ağır yükümlülükler getirilmiş ve bir anayasal hak olan kişisel verilerin korunması yasa olarak da hukuk sistemimize girmiştir. Kanuna uyum sürecinin yürütülmesi gerekmektedir. Aksi takdirde veri sorumluları aleyhine ağır idari para cezaları tahakkuk ettirilmektedir.

            Hukukçu ekip ile bilişim ekibinin birlikte uyumlu çalışması ile yasaya uyum ve veri güvenliği konularında çalışılmakta ve veri sorumlularının riski minimalize edilmektedir.
            <br>
            UYUM SÜRECİ
            <br>
            Veri Envanterinin Hazırlanması
            <br>
            Yasa Gereğince Zorunlu Muvafakatname, Aydınlatma Metni, Sözleşmelerin Tanzimi
            <br>
            Sözleşmelerin İncelenmesi Ve Revize İşlemleri
            <br>
            Risk Analizi Ve Potansiyel Risklerin Ortadan Kaldırılması
            <br>
            Şirketin VERBİS Sistemine Kaydı Ve Bildirimler.
            <br>
            UYUM SÜRECİ SONRASI
            <br>
            Kurum İçi Periyodik Eğitim Ve Denetim Faaliyetleri
            <br>
            Genel Anlamda Kişisel Veri Hukuku İşlemleri</p>
        <!-- Diğer içerikler -->
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
