<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceza Hukuku</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('../partials/header') %>

    <div class="service-detail">
        <h1>Sigorta Hukuku</h1>
        Sigorta, kişilerin birçok olay neticesinde meydana gelebilecek zararlara karşı korunmasını sağlamaktadır. Sigortacılıkla meşgul işletmelerin çalışmalarını denetleyen ve düzenleyen hukuk birimine sigorta hukuku adı verilmektedir. Kendini sigorta sözleşmelerinden doğan uyuşmazlıklar alanında geliştiren ve bu yöndeki davalara bakan avukatlara da sigorta avukatı denmektedir.

Sigorta avukatı, zararın sigorta kapsamına girip girmediğinin tespiti, sigorta sözleşmelerinin düzenlenmesi ve sigorta konusu şeyde meydana gelen zararın tazminini sağlamak gibi bu alandaki sigortacıların veya sigorta ettirenlerin vekilliğini yapmaktadır.

<h4>Sigorta Hukuku Nedir?</h4>
Sigortacı ve sigortalı arasındaki hukuki ilişkiyi ve sigortacılıkla uğraşan şirketlerin çalışmalarını düzenleyen hukuk kurallarının bütününe sigorta hukuku adı verilmektedir. Sigortacı, sigortalının ödediği prim karşılığında rizikonun tazminini üstlenmektedir. Sigorta ile ilgili genel hükümler Türk Ticaret Kanunu’nda düzenlenmektedir. Bunun yanında 5684 Sayılı Sigortacılık Kanunu ve bakanlık tarafından onaydan geçen Sigorta Genel Şartları hükümleri de sigorta hukukunun kaynağını oluşturmaktadır.

<h4>Sigorta Hukuku Davası Nedir?</h4>
Sigorta hukukundan doğan uyuşmazlıklara sigorta hukuku davası adı verilmektedir. Sigortacı ile sigortalı veya zarar gören ile sigortacı arasındaki uyuşmazlıklar sigorta hukuku davasının konusunu oluşturmaktadır.

<h4>Sigorta Türleri Hangileri?</h4>
Sigortalar ikiye ayrılabilir:

<ul>
    <li>Zarar Sigortaları</li>
    <li>Can Sigortaları</li>
</ul>
Zarar Sigortaları ise kendi içinde mal sigortaları ve sorumluluk sigortaları olmak üzere iki sınıfa ayrılmaktadır. Mal sigortalarına örnek olarak; yangın sigortası, taşıma sigortası, tarım sigortası, hırsızlık sigortası, kasko, makine kırılması ve montaj sigortası, inşaat sigortası, cam kırılması sigortası, alacak sigortası örnekleri verilebilir. Sorumluluk sigortalarına ise zorunlu trafik sigortası, ihtiyari trafik sigortası, hekim mesleki sorumluluk sigortası örnekleri verilebilir. Bunlardan günlük hayatta en çok karşımıza çıkanı zorunlu trafik sigortasıdır. Bu hususa ilişkin Zorunlu Mali Mesuliyet Sigortası Genel Şartları mevcuttur. Ayrıca diğer sigorta türleri için de genel şartlar düzenlenmiştir.

<h4>Sigorta hukuku hangi mahkemede görülür?</h4>
Sigorta davalarının tamamında uygulanan görevli bir mahkeme bulunmamakla beraber somut olayın özelliklerine ve taraflara göre görevli mahkeme belirlenmektedir.

Örneğin, Ticaret Kanunu hükümleri uyarınca sorumluluk sigortalarında, zarar gören, doğrudan zarar verenin sigortasına başvurma hakkına sahiptir. Bu durumda söz konusu uyuşmazlık Ticaret Kanunu’na dayandığından görevli mahkeme asliye ticaret mahkemesi olacaktır. Ancak unutulmamalıdır ki açılacak davaya sebebiyet veren eylem önem arz etmektedir. Örneğin motorlu taşıt kazasından kaynaklı açılacak maddi-manevi tazminat davası haksız fiil hükümlerine dayandığından, görevli mahkeme asliye hukuk mahkemeleri olacaktır.

Bunun yanında sigortalı ile sigorta şirketi arasında, sigorta poliçesinden kaynaklanan uyuşmazlıklarda görevli mahkemenin belirlenmesinde sigortanın konusu önem arz eder. Kişinin, ticari işletmesini ilgilendirmeyen davalarda tüketici ilişkisi söz konusu olur. Bu nedenle tüketici ile ilgili sigortalarda sigortalı ile sigorta şirketi arasındaki davalar tüketici mahkemelerinde görülür.

“Davacı ile davalı sigorta şirketi arasında kurulan kasko sigorta poliçesine ilişkin sözleşmenin 6502 sayılı TKHK’nın 3. maddesi anlamında bir tüketici işlemi olduğu, davacının somut olayda aracını kiraya vermiş olsa dahi TTK’nun 11. ve 12. maddeleri anlamında ticari işletme yürütmediği ve tacir olmadığı, görevli mahkemenin Tüketici Mahkemesi olduğu, mahkemece tarafların iddia ve savunmalarına göre davanın esasına girilerek sonucuna göre karar verilmesi gerekirken Ticaret Mahkemesi’nin görevli olduğu gerekçesi ile davanın görevsizlik nedeni ile usulden reddine karar verilmesi doğru görülmemiştir.”

<h4>Sigorta şirketine karşı hangi mahkemede dava açılır?</h4>
TKHK m. 73’e göre; “Tüketici işlemleri ile tüketiciye yönelik uygulamalardan doğabilecek uyuşmazlıklara ilişkin davalarda tüketici mahkemeleri görevlidir.” hükmüne yer vermektedir. TKHK m. 83/2’de “Taraflardan birini tüketicinin oluşturduğu işlemler ile ilgili diğer kanunlarda düzenleme olması, bu işlemin tüketici işlemi sayılmasını ve bu Kanunun görev ve yetkiye ilişkin hükümlerinin uygulanmasını engellemez.” Bu maddelerden anlaşılacağı gibi taraflardan birinin tüketici olması durumunda davada görevli mahkeme tüketici mahkemesi olacaktır. Bunun yanında sigorta hukuku Türk Ticaret Kanunu’nda düzenlendiğinden, sigorta hukukundan kaynaklı davalar mutlak ticari dava sayılmaktadır. Mutlak ticari davalarda görevli mahkeme Asliye Ticaret Mahkemesi’dir. Ancak somut olayın özelliklerine ve taraflara göre değerlendirme yapılmalıdır. Bu konuya ilişkin Yargıtay kararları mevcuttur.

“Haksız fiilden kaynaklanan tazminat davalarında görevli mahkeme, genel hukuk mahkemesi olan asliye hukuk mahkemesi ise de; dava, gerçek kişiler ile birlikte karşı tarafın ZMMS yaptırdığı sigorta şirketine karşı da açıldığından, davalı sigorta şirketi, sigorta poliçesi nedeniyle sorumlu tutulmuş olup, zorunlu sigortalar, TTK’ nın 1483 vd. maddelerinde düzenlenmiş olduğundan, TTK ‘nın 4/1-(a) ve 5. maddeleri gereğince mutlak ticari nitelikteki bu davada asliye ticaret mahkemesinin görevli olduğu…
        <!-- Diğer içerikler -->
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
